.blue {
  height: 62px;
  padding: 20px 32px;
  background: var(--blue-500);
  border-radius: 20px;
  border: 2px var(--blue-500) solid;
  display: inline-flex;
  column-gap: 13px;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.white {
  height: 62px;
  padding: 20px 32px;
  background: white;
  border-radius: 20px;
  border: 2px var(--blue-500) solid;
  display: inline-flex;
  column-gap: 13px;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--blue-950);
  cursor: pointer;
}

@media (max-width: 768px) {
  .Button {
    display: none;
  }
}
