.SectionDescription {
  padding-top: 182px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-around;
}

.DescriptionContent {
  padding-top: 64px;
  text-align: left;
}

.DescriptionHeader {
  margin-bottom: 84px;
}

.DescriptionSubtitle {
  margin-top: 44px;
  margin-bottom: 60px;
  width: 762px;
  font-size: 24px;
  font-weight: 500;
}

.Buttons {
  display: inline-flex;
  column-gap: 44px;
}

.DescriptionListWrapper {
  padding: 32px 28px 42px 28px;
  width: 762px;
  border-radius: 20px;
  border: 1px #c2c2c2 solid;
}

.DescriptionList {
  padding-left: 28px;
  margin-top: 28px;
}

.DescriptionListTitle {
  color: var(--blue-500);
}
.DescriptionListItem {
  position: relative;
}
.DescriptionListItem::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -28px;
  width: 14.05px;
  height: 10.22px;
  background: url(../../../public/images/icons/icon-check-blue.svg) no-repeat
    center;
  background-size: cover;
  transform: translateY(-50%);
}

@media (max-width: 1440px) {
  .DescriptionContent {
    max-width: 799px;
  }
}

@media (max-width: 1199px) {
  .DescriptionImage {
    display: none;
  }
  .DescriptionContent {
    max-width: 100%;
  }
  .DescriptionListWrapper {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .DescriptionSubtitle {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .DescriptionSubtitle {
    max-width: 100%;
  }
  .Buttons {
    flex-direction: column;
    gap: 16px;
  }
  .DescriptionListWrapper {
    max-width: 100%;
  }
}
@media (max-width: 575px) {
  .SectionDescription {
    padding-top: 144px;
    padding-bottom: 20px;
  }
  .DescriptionHeader {
    margin-bottom: 24px;
  }
  .DescriptionSubtitle {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .DescriptionListItem {
    font-size: 14px;
  }
}
