.PreOrderOfferFormWrapper {
  width: 538px;
  height: 100%;
  padding: 32px 28px;
  border: 1px solid var(--color-grey);
  border-radius: 20px;
  margin: 0 auto;
}

.Form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.FormTitle {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.FormBox {
  position: relative;
  text-align: left;
}

.PasswordToggle {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.FormBox::before {
  content: "∗";
  position: absolute;
  color: var(--red-700);
  left: 0;
  top: 10px;
  display: block;
  transition: opacity 0.3s ease;
}

.FormBox.InputFilled input {
  border: 2px solid var(--blue-500);
}

.FormBox.InputFilled::before {
  display: none;
}

.FormBox h4 {
  margin-bottom: 24px;
}

.FormInput {
  width: 100%;
  padding: 20px 32px;
  border-radius: 20px;
  border: 2px solid var(--color-grey);
}

.FormInput:active {
  border: 2px solid var(--blue-500);
}

input::placeholder {
  font-size: 18px;
}

.FormInput:focus-visible {
  border: 2px solid var(--blue-500);
}
input:focus {
  border: 2px solid var(--blue-500);
}

.FormBox:first-child::before {
  left: 73px;
}

.FormBox:nth-child(2)::before {
  top: 10px;
  left: 90px;
}

.FormBox:nth-child(3)::before {
  top: 5px;
  left: 105px;
}
.FormBox:nth-last-of-type(4) {
  display: flex;
  flex-direction: column;
}

.FormBox:nth-child(4)::before {
  top: 12px;
  left: 185px;
}

.FormBox:nth-child(5)::before {
  top: 0px;
  left: 365px;
}
.FormBox:nth-child(6)::before {
  top: 0px;
  left: 110px;
}

.FormBox:nth-child(4) {
  display: flex;
  flex-direction: column;
}

.Form p {
  margin-bottom: 12px;
}

.FormBox:nth-child(3) {
}
.FormBox:nth-child(3) input {
  text-align: left;
  margin-bottom: 0;
}
.FormBox:nth-child(4) input {
}

.label:nth-of-type(3) {
  width: 50%;
}

.checkboxWrapper {
  margin: 10px 0;
}

.customRadio {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.customRadioInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.customRadioInput:checked + .customRadio::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--blue-500);
  border-radius: 8px;
}

.customRadioInput:checked + .customRadio::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
  color: var(--blue-500);
  border-radius: 50%;
}

select {
  width: 100%;
  padding: 20px 32px;
  border-radius: 20px;
  border: 2px solid var(--color-grey);
  text-align: left;
  font-size: 18px;
  color: #5e5e5e;
  font-family: "Inter";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.CustomOption {
  background-color: #dcdfdd;
  color: #333;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

label {
  display: inline-block;
  text-align: left;
  width: 100%;
}

textarea {
  height: 144px;
  width: 100%;
  padding: 20px 32px;
  border-radius: 20px;
  border: 1px solid var(--color-grey);
}
textarea::placeholder {
  font-size: 18px;
  font-family: "Inter";
}
.IconSelect {
  display: block;
  width: 21px;
  height: 16.5px;
  background: url(/public/images/icons/icon-down-grey.svg) no-repeat center;
  background-size: contain;
}

.SelectLabel {
  position: relative;
}

.SelectWrapper {
  position: relative;
  cursor: pointer;
}

.IconSelect {
  position: absolute;
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
}

.customSelect select option {
  padding: 30px 20px;
}

/*radiobuttons*/
.CustomRadioButtonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.CustomRadioButtonsWrapper:nth-last-of-type(1) {
  flex-direction: column;
  gap: 18px;
}

.RadioButtonInput {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid var(--blue-500);
  cursor: pointer;
  margin: auto 0;
  margin-right: 15px;
  vertical-align: middle;
}

.RadioButtonInput::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background: var(--blue-500);
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.RadioButtonInput:checked::before {
  opacity: 1;
}

.RadioButtonLabel {
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}

.RadioButtonLabel:nth-child(2) {
  width: 80%;
}

/*checkboxpolicy*/
.CustomCcheckbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.CheckboxInput {
  display: none;
}

.CheckboxLabel {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.CheckboxLabel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--blue-500);
  border-radius: 4px;
  background: white;
  transition: background-color 0.3s, border-color 0.3s;
}

.CheckboxInput:checked + .CheckboxLabel::after {
  content: "✓";
  position: absolute;
  padding: 5px;
  left: 10px;
  top: 10px;
  transform: translate(-50%, -50%);
  color: var(--blue-500);
  font-weight: bold;
}

.InputSubmit {
  height: 62px;
  width: 100%;
  padding: 20px 32px;
  background: var(--blue-500);
  border-radius: 20px;
  border: 2px var(--blue-500) solid;
  display: inline-flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.TextError {
  font-size: 14px;
  color: var(--red-700);
}

.InputSubmitDefault {
  height: 62px;
  width: 100%;
  padding: 20px 32px;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  cursor: pointer;
  background: #d9d9d9;
  border: 2px #d9d9d9 solid;
}

.Avatar {
  height: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}

.Avatar img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 50%;
}

.ImageChangeButton {
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
}
.ErrorBox {
  margin-top: 9px;
  display: flex;
  column-gap: 9px;
  align-items: center;
}

.SignInFormWrapper {
  width: 480px;
  height: 375px;
  margin: auto;
}
@media (max-width: 575px) {
  .SignInFormWrapper {
    width: 75%;
  }
}

.SignInFormWrapper .Form {
  width: 100%;
}

.SignInFormWrapper .FormBox::before,
.ForgotPasswordFormWrapper .FormBox::before {
  display: none;
}

.SignInFormWrapper form {
  gap: 18px;
  margin-bottom: 20px;
}

.SignInFormWrapper input[type="submit"] {
  margin-top: 14px;
}

.ForgotPassword {
  color: var(--blue-500);
}

.ForgotPasswordFormWrapper {
  width: 480px;
  margin: 0 auto;
}
@media (max-width: 575px) {
  .ForgotPasswordFormWrapper {
    width: 75%;
  }
}

@media (max-width: 1199px) {
  .PreOrderOfferFormWrapper {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .FormBox:nth-child(3)::before {
    left: 80px;
    top: 0;
  }
  .FormBox:nth-child(5)::before {
    left: 275px;
  }
}

@media (max-width: 575px) {
  .PreOrderOfferFormWrapper {
    width: 100%;
  }
  .FormInput {
    padding: 16px 20px;
  }
  .FormInput::placeholder {
    font-size: 14px;
  }
  .FormBox:nth-child(1)::before {
    left: 55px;
  }
  .FormBox:nth-child(2)::before {
    left: 70px;
  }
  .FormBox:nth-child(4)::before {
    left: 140px;
  }
  .FormBox:nth-child(6)::before {
    left: 80px;
  }
  .RadioButtonLabel {
    font-size: 14px;
  }
  .IconSelect {
    width: 12px;
  }
  select {
    padding: 16px 20px;
    font-size: 14px;
  }
  textarea {
    padding: 16px 20px;
    height: 124px;
    font-size: 14px;
  }
  textarea::placeholder {
    font-size: 14px;
  }
  .CheckboxLabel,
  .CheckboxLabel a {
    font-size: 12px;
  }
  .CheckboxLabel {
    padding: 0 0 0 22px;
  }
  .CheckboxLabel a {
    padding: 0;
  }
  .InputSubmit {
    font-size: 14px;
  }
  .IconSelect {
    right: 22px;
  }
  
}
