.ButtonsShare {
  margin-top: 28px;
  display: flex;
  border-radius: 28px;
  animation: FadeIn 0.7s ease-in;
}
.ButtonsShare p {
  margin-bottom: 0;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .ButtonsShare {
    display: grid;
    grid-template-columns: repeat(5, 20%);
  }
}

@media (max-width: 575px) {
  .ButtonsShare {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    justify-content: center;
  }
}
@media (max-width: 380px) {
  .ButtonsShare {
    display: grid;
    grid-template-columns: repeat(2, 30%);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    justify-content: center;
  }
}
