.Header {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 36px 60px;
    background: var(--blue-100);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.HeaderRow {
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.HeaderBox {
    display: flex;
    gap:32px;
    align-items: center;
}

@media (max-width: 768px) {
    .HeaderBox .Button {
        display: none;
    }
}