.SectionSuccesStories {
  padding: 39px 0 0px;
}

.SuccesStoriesHeader {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .SuccesStoriesHeader img {
    display: none;
  }
}