.Footer {
  width: 100%;
  background: var(--blue-100);
}
.FooterRow {
  padding: 60px 60px 20px 60px;
}
.FooterBoxes {
  max-width: 1440px;
  margin: 0 auto 40px;
  display: flex;
  column-gap: 50px;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

.FooterBox:first-child {
  width: 35%;
}

.FooterContacts {
  margin-bottom: 60px;
}

.FooterLinkContact {
  display: flex;
  align-items: center;
  column-gap: 14.2px;
}
.FooterLink:hover,
.FooterLinkContact:hover {
  transition: all 0.3s ease-in;
  opacity: 0.23;
}

.FooterBox h4 {
  margin-bottom: 20px;
}

.FooterBox p {
  padding-top: 20px;
  padding-bottom: 22.5px;
}

.FooterBox:nth-child(2) {
  width: 30%;
}

.FooterBox li {
  margin-bottom: 12px;
}

.FooterRightsReserved {
  font-size: 18px;
  font-weight: 500;
  color: #497aaa;
}

@media (max-width: 992px) {
  .FooterBoxes {
    flex-direction: column;
    gap: 26px;
  }
  .FooterBox {
    width: 100%;
  }
  .FooterBox:first-child {
    width: 100%;
  }
  .FooterBox:nth-child(2) {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .FooterRow {
    padding: 20px;
  }
  .FooterRightsReserved {
    font-size: 16px;
  }

}

@media (max-width: 575px) {
  .FooterBoxes {
    padding-left: 20px;
    padding-right: 20px;
  }
  .Footer a {
    padding: 0;
  }
  .FooterRightsReserved {
    font-size: 14px;
  }
}
