.requirementList {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
  font-size: 14px;
}

.requirementList li {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  transition: color 0.3s ease;
}

.requirementList svg {
  margin-right: 8px;
}

.valid {
  color: #28a745; /* Зеленый цвет для выполненного требования */
}

.invalid {
  color: #dc3545; /* Красный цвет для невыполненного требования */
}
